<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>window 1</title>
</head>
<body>

<button id="popup">popup</button>

<script>
    var p = document.getElementById("popup");
    var loc;
    p.addEventListener("click", function () {

        loc       = window.location.origin + window.location.pathname;
        loc       = loc.substr(0, loc.lastIndexOf("/"));
        loc += loc.substr(0, loc.lastIndexOf("/"));
        var popup = window.open("");
    });
</script>

</body>
</html>